@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-Outfit{
  font-family: "Outfit", sans-serif;                                            
}
.font-Sans{
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;                                           
}

/* .main-container{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/bg.jpg");
  background-position: center;
  background-size: cover;
} */